:root {
  --background--main--bg: white;
  --font--helvetica: helvetica;
  --font-cormorant: cormorant;
  --font-opensans: opensans;
  --font-opensans-light: opensans-light;
  --background--salmon: #faf9f4;
  --font-cormorant-regular:cormorant-garamond-regular


}


/**********
FONTS
**********/
@font-face{
  font-family: helvetica-normal;
  src: url("../fonts/HelveticaNeue.ttc");
}
@font-face{
  font-family: helvetica-roman;
  src: url("../fonts/HelveticaNeueLTStd-Roman.otf");
}
@font-face{
  font-family: helvetica;
  src: url("../fonts/HelveticaNeueLTStd-Bd.otf")
}
@font-face{
  font-family: cormorant-regular;
  src: url("../fonts/Cormorant-Regular.ttf");
}
@font-face{
  font-family: cormorant;
  src: url("../fonts/CormorantGaramond-BoldItalic.ttf");
}
@font-face{
  font-family: cormorant;
  src: url("../fonts/CormorantGaramond-Italic.ttf");
}
@font-face{
  font-family: cormorant;
  src: url("../fonts/CormorantGaramond-LightItalic.ttf");
}
@font-face{
  font-family: cormorant-garamond-regular;
  src: url("../fonts/CormorantGaramond-Regular.ttf");
}
@font-face{
  font-family: cormorant;
  src: url("../fonts/CormorantGaramond-SemiBoldItalic.ttf");
}
@font-face{
  font-family: opensans;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face{
  font-family: opensans-light;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face{
  font-family: opensans;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face{
  font-family: opensans;
  src: url("../fonts/OpenSans-SemiBold.ttf");
}





* {
  font-family: var(--font-opensans);
}

html {
  scroll-behavior: smooth;
}

.main-site-wrapper {
  overflow: hidden;
}



/**********
  BASE
**********/
a {
  color: black;
  transition: text-shadow .3s;
}
a:hover {
  color: grey;
  font-weight: bolder;
  transition: color .3s ease;
  
}
a:hover, a:hover:visited {
  color: black;
  font-weight: bolder;
  text-decoration: none !important;
}

ul,
li {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/**********
TITLES
**********/
h1 {
  font-family: var(--font--helvetica), Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-weight: 600;
  color: #002451;
}

h2,
h3,
h4,
h5 {
  font-family: var(--font--helvetica), Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #002451;
}

p {
  font-family: var(--font-opensans-light);
}



/**********
  SECTION
**********/
section {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
}


/* ***********
    Navbar navegacion
  ************* */
  #NavMenu{
    background-color: transparent;
  }
  #mainNav .loGoo{
    width: 100px;
  }
  .navbar-brand h3{
    font-family: var(--font-opensans-light);
    font-style: normal;
  }
  
  #NavMenu ul li a{
    font-family: var(--font-cormorant);
    font-style: italic;
    font-size: 20px;
  }
  .idiomas a{
    font-size: 15px !important;
    padding-top: 12px;
  }
  .dropdown-menu{
    border: white;
  }
  .dropdown-menu a{
    font-size: 15px !important;
  }
  .dropdown-toggle::after{
    display: none;
  }
  .dropdown-item.active, .dropdown-item:active{
    background-color: white;
  }
  


/* ***********
    Section I  TRANSFORMACION DIGITAL
  ************* */
  .transformacion-digital{
    margin-left: -15px;
    margin-right: -15px;
  }
  .transformacion-digital-items2 p{
    font-family: var(--font-cormorant);
    font-style: italic;
    font-size: 20px;
  }
  .transformacion-digital{
    background: url("../imgs/Recurso\ 2@2x.png");
    background-size: cover;
    min-height: 100vh;
  }

  .transformacion-digital::after{
    content: 'PH LAURA FERRO';
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    right: 40px;
    color: white;
  }

  /* ***********
    Section II  TRASECENDIENDO
  ************* */
  .trascendiendo-imagen::after{
    content: 'ARY BRIZZI';
    position: absolute;
    font-size: 12px;
    font-family: var(--font-opensans-light);
  }

  



/* ***********
    Section II TRASCENDENCIA IDENTIDAD
  ************* */
  .trascendiendo-titulo h3{
    color: #002451;
    margin-left: -50px;
  }
  .trascendiendo-identidad::before {
    content: '';
    padding: 253px 130px;
    background: #f6bd00;
    position: absolute;
    z-index: -1;
    right: 60px;
    top: 1045px;
  }

  .trascendiendo-parrafo p{
    font-family: var(--font-opensans-light);
    font-style: normal;   
  }
  .trascendiendo-parrafo{
    padding: 2%;
  }

  .trascendiendo-imagen img{
    width: 400px;
  }

  @media screen and (max-width: 768px){
    .trascendiendo-titulo h3{
      margin-left: 0;
    }
    .trascendiendo-imagen img{
      width: 300px;
    }
  }


/* ***********
    Section III  COMO CERTIFICARLOS
  ************* */  
  .como-certific{
    background: url("../imgs/Recurso\ 3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .certific-item-1 img{
    width: 350px;
  }

  .como-certific-items{
    background: white;
    padding: 5%;
  }
  .como-certific-items p{
    font-family: var(--font-opensans-light);
    font-style: normal;
  }
  


/* ***********
    Section IV  BENEFICIOS
  ************* */
  .beneficios .media-body p{
    font-family: var(--font-opensans-light);
    font-style: normal;
  }

  .media img{
    width: 50px;
    height: 50px;
  }
  .beneficios{
    background: var(--background--salmon);
  }

  .beneficios .media img{
    opacity: 0.5;
  }




 /* *************
      SECTION V colaboracion
    *****************/
  .colaboracion-item-1::after{
    content: '';
    padding: 300px 115px;
    background: #88a7a6;
    position: absolute;
    z-index: -1;
    left: -80px;
    top: -70px;
    background-repeat: repeat;
  }

  .colaboracion-item-1{
    background: white;
    padding: 5%;
  }
  .colaboracion-item-2{
    padding: 5%;
  }

  .colaboracion-item-1 p{
    font-family: var(--font-opensans-light);
    font-style: normal;
  }
  
  .colaboracion-item-2 ul li{
    font-family: var(--font-opensans);
    padding-left: 15px !important;
  }




  
/* *************
      Grande - galeria
    *****************/

  .galeria-grande .flex-column {
    max-width: 500px;
  }
  
  .exampleImg {
      margin: 5px;
  }
  
  .scale {
      transform: scaleY(1.05);
      padding-top: 5px; 
  }


  .artist-name1::before{
    content:"NOMBRE \A GALERIA";
    white-space: pre;
    font-size: 12px;
    position: relative;
    font-family: var(--font-opensans-light);
    background-color: white;
    left: -80px;
    bottom: -20px;
  }
  .artist-name2::before{
    content:"NOMBRE \A GALERIA";
    white-space: pre;
    font-size: 12px;
    position: relative;
    top: 50px;
    left: -90px;
    font-family: var(--font-opensans-light);
    background-color: white;
  }
  .artist-name3::before{
    content:"EDUARDO  \A BASALDO";
    white-space: pre;
    font-size: 12px;
    position: relative;
    left: 500px;
    top: 20px;
    font-family: var(--font-opensans-light);
    background-color: white;
  }
  .artist-name4::before{
    content:"NOMBRE \A GALERIA";
    white-space: pre;
    font-size: 12px;
    position: relative;
    left: 500px;
    top: 20px;
    background-color: white;
    z-index: 1;
    font-family: var(--font-opensans-light);
  }

  @media screen and (max-width: 576px){
    .artist-name1::before{
      content:"NOMBRE \A GALERIA";
      white-space: pre;
      font-size: 12px;
      position: inherit;
      font-family: var(--font-opensans-light);
    }
    .artist-name2::before{
      content:"NOMBRE \A GALERIA";
      white-space: pre;
      font-size: 12px;
      position: inherit;
      font-family: var(--font-opensans-light);
    }
    .artist-name3::before{
      content:"EDUARDO \A BASALDO";
      white-space: pre;
      font-size: 12px;
      position: inherit;
      font-family: var(--font-opensans-light);
    }
    .artist-name4::before{
      content:"NOMBRE \A ARTISTA";
      white-space: pre;
      font-size: 12px;
      position: inherit;
      font-family: var(--font-opensans-light);
    }
  }

  


/* *************
      FORMULARIO
    *****************/ 

  .formulario {
    background: var(--background--salmon);
  }
  .formulario p{
    font-family: var(--font-opensans-light);
    font-style: normal;
  }

  .formulario input{
    border: none;
    border-bottom: 1px ridge black;
    border-radius: 0px;
    font-family: var(--font-opensans-light);
    background: var(--background--salmon);
  }


/* *************
      Pequeña galeria
    *****************/
  .peque-galeria-items img{
    width: 450px;
  }

  .min-galeria-content p{
    font-family: var(--font-cormorant-regular);
    font-style: normal;
    font-size: 20px;
  }
  .min-galeria a{
    color: #002451;
    font-family: var(--font--helvetica);
  }

/* FIN DEL INICIO / HOME */



/* ***************************************
              INICIO DE ARTE
    **************************************  */
  .arte-galeria h3{
    font-family: var(--font-opensans-light);
    color: black;
  }
  
  .arte-galeria h5{
    font-family: var(--font-cormorant);
    color: black;
  }

  .arte-galeria button{
    font-family: var(--font-opensans-light);
  }
  .flecha-btn img{
    width: 30px;
  }

/* FIN ARTE*/


/* ***************************************
              INICIO DE PURPOSE
    **************************************  */
    .purpose-img::after{
      content: 'AGUSTINA BOTTONI';
      font-family: var(--font-opensans-light);
      position: absolute;
      bottom: -35px;
      font-size: 12px;
      right: 10px;
    }
    @media screen and (max-width: 576px){
      .purpose-img::after{
        content: '';
      }
      .purpose-img::before{
        content: 'AGUSTINA BOTTONI';
        font-size: 12px;
        font-family: var(--font-opensans-light);
      }
      .purpose-text{
        margin-bottom: 1.5rem!important;
        margin-top: 1.5rem!important;
      }
    }
  
  /* FIN ARTE*/

/* ***************************************
              INICIO DE BLOCKCHAIN
    **************************************  */
  .blockchain-item img{
    width: 70%;
  }
  .blockchain-item-presentation p{
    font-size: 12px;
  }
  .blockchain-item-ul ul li{
    font-family: var(--font-opensans-light);
  }

  .lista-desordenada ul ul{
    padding-left: 30px !important;
    margin-top: 50px !important;
  }
  .lista-desordenada ul ul li{
    margin: 20px !important;
    font-family: var(--font-opensans-light);
  }
  .media img{
    height: 65px;
  }
  .media-flecha-list .media,
  .media-flecha-list .media h5{
    color: #402ea3;
    font-family: var(--font-opensans-light);
  }
  .media-flecha-list p:last-child{
    color: #402ea3;
    font-family: var(--font-opensans-light);
  }

  .cube-blockchain img{
    width: 500px;
  }

/* FIN BLOCKCHAIN*/

/* ***************************************
               HOW IS CERTIFICATE
    **************************************  */
  .list-numeration ol li{
    list-style: decimal !important;
    font-family: var(--font-opensans-light);
  }
 

/* FIN HOW IS CERTIFICATE*/

/* ***************************************
              INICIO DE NEWS
    **************************************  */
  .author-news{
    font-style: italic;
  }
  .galeria-portada{
    display: inline-grid;
  }


/* FIN NEWS*/

/* ***************************************
              INICIO DE EQUILIBRADO
    **************************************  */

  .margin-top{
    min-height: 30vh;
    margin-top: 100px;
  }

  .bkg-equilibrado{
    padding: 50px 10px 100px 100px;
    background: #084b7a;
  }
  .bkg-equilibrado h1{
    color: white;
  }

/* FIN EQUILIBRADO */


/* ***************************************
              WHAT IS BLOCKCHAIN
    **************************************  */

    .graficos-img{
      color: #402ea3;
    }

    .list-style-benefits .table-responsive img{
      width: 30px;
    }





/* ***************************************
              INICIO DE NEWS
    **************************************  */
  .news-articles img{
    width: 300px;
  }

  .bkg-novedades {
    padding: 50px 10px 50px 100px;
  }

  .pequeña-galeria small {
    font-size: 50%;
    margin-top: 10px;
  }

/* FIN DE NEWS */

  

  /* *************
      FOOTER
    *****************/
  .footer .terminos-politica a{
    font-family: var(--font-opensans-light);
  }
  

  .terminos-politica ul li{
    margin: 05px !important;
    letter-spacing: 1.5px;
    }

    .social-list ul li:nth-child(3) img{
      width: 35px;
    }

/* FIN DEL FOOTER */

  
  /* carrusel configuracion */
  .pista-carrusel{
    display:none;
    visibility: hidden;
  } 



  /* *************
      inicio del edia mediaQuery
    *****************/
@media screen and (max-width: 768px){

  /* head */
  header .container-fluid{
    background-color: white !important;
  }

  /* carrusel */
  .pista-carrusel{
    display: block;
    visibility: visible;
    text-align: center;
  }
  .sin-carrusel{
    display: none;
    visibility: hidden;
  }

  /*section 1 */
  .transformacion-digital{
    padding-top: 100px;
  }
  .transformacion-digital-items2 p{
    padding-left: 20px;
  }
  .transformacion-digital-items2 p{
    padding-left: 20px;
  }
  
  .trascendiendo-imagen{
    text-align: center;
  }

  /* section 2 */
  .trascendiendo-identidad::before {
    content: '';
    padding: 170px 130px;
    background: #f6bd00;
    position: absolute;
    z-index: -1;
    background-repeat: repeat;
    right: 60px;
    top: 1510px;
  }
  

  /* section 3 */
  
  .como-certific {
    background-position-y: 305px;
}
  .como-certific-items{
    margin-top: 200px;
  }
  
  
  
  /* section 4 */
  .beneficios-titulo{
    padding-left: 35px;
  }

  /* section 5 */

  .colaboracion-item-2{
    margin-top: 50px;
  }
  .colaboracion-item-1::after{
    padding: 190px 80px;
  }
  

  /* what is blockchain */
  .cube-blockchain img{
   width: 700px;   
  }



  /* formulario */
  .bkg-novedades{
    padding: 0;
  }
  .margin-top{
    margin-top: 80px;
  }


  /* ARTE */
  .arte-galeria-img img{
   width: 300px; 
  }

  /* footer */
  .separador{
    display: none;
  }
  .terminos-politica ul{
    flex-direction: column!important;
  }

  
}

@media screen and (max-width: 476px){

  .trascendiendo-parrafo{
    order: 1;
  }

  .como-certific{
    background-position-y: 480px;
  }

  .cube-blockchain img{
    width: 400px;   
   }

   .graficos-img img{
     width: 330px;
   }

   .trascendiendo-identidad::before {
    content: '';
    padding: 170px 130px;
    background: #f6bd00;
    position: absolute;
    z-index: -1;
    top: 1030px;
    right: 15px;
}
   
}

@media screen and (max-width: 380px){
  .cube-blockchain img{
    width: 300px;   
   }
   .trascendiendo-identidad::before {
    content: '';
    padding: 160px 85px;
    background: #f6bd00;
    position: absolute;
    z-index: -1;
    top: 990px;
    right: 5px;
}

}

@media (orientation: landscape) and (max-width: 820px) {
  .transformacion-digital{
    margin-top: 60px;
    
  }
  .separador{
    display: none;
  }

  .sin-carrusel{
    text-align: center;
  }

  .transformacion-digital::after {
    content: 'PH LAURA FERRO';
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 40px;
    color: white;
  }

  .trascendiendo-identidad::before {
    content: '';
    padding: 220px 130px;
    background: #f6bd00;
    position: absolute;
    z-index: -1;
    right: 170px;
    top: 805px;
  }

}