// BOOTSTRAP BREAKPOINTS FOR CUSTOM STYLING
$xsBreakpoint: 420px;
$smBreakpoint: 576px;
$mdBreakpoint: 768px;
$lgBreakpoint: 992px;
$xlBreakpoint: 1200px;

// COLORS
$darkBlue : rgb(32, 76, 107);
$lightBlue : rgb(56, 137, 194);
$darkGray : rgb(100, 100, 100);
$lightGray : rgb(161, 161, 161);