<?php
?>
<section id="news" class="margin-top">
  <div class="container-fluid">
    <div class="row">      
      <div class="col-lg-12 bkg-novedades">
        <h1>The Balance Act</h1>
      </div>
    </div>
  </div>
</section>

<section id="aboutus" class="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../imgs/Recurso 9@2x.png" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-6">
        <p>
          We value identity and strive to immortalize the bond between an
          artwork and its artist to preserve its essence and trace through time.
        </p>
        <p>
          In the journey of an art piece we search for the perfect balance.
          Through blockchain technology we preserve the identity creating a
          sustainable value, arising a trustful relationship in the art
          ecosystem: empowering artists, collectionists and museums.
        </p>
        <p>
          Our ultimate aim is to bring together different networks to elevate
          the art scene into a dynamic world. Connecting, introducing and
          reaching offers an exciting model of future collaboration.
        </p>
      </div>
    </div>
  </div>
</section>
