<?php $page = 'art'; ?>

<section id="arte" class="margin-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 bkg-novedades">
                <h1 class="mb-5"><?php echo $translate->__tr('art-title');?></h1>
                <button type="button" class="btn btn-outline-secondary btn-enter-asset-id mt-1"><?php echo $translate->__tr('art-button');?>
                    <?php echo file_get_contents("././imgs/flecha-der.svg"); ?></button>
            </div>
        </div>
    </div>
</section>

<section id="arte-galeria" class="arte-galeria">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="row">
                    <div class="col-lg-12 arte-galeria-img">
                        <img src="../../imgs/Recurso 8@2x.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <h3 class="mt-4">Nombre del artista</h3>
                            <h5>Ciudad, País.</h5>
                        </div>
                        <p><?php echo $translate->__tr('art-gallery1-content1');?></p>
                        <p><?php echo $translate->__tr('art-gallery1-content2');?></p>
                        <a href="#" class="flecha-btn"><img src="../../imgs/flecha.svg" alt="viseit web site"><?php echo $translate->__tr('art-visit-web-site');?></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-5 pt-lg-5">
                <div class="row">
                    <div class="col-lg-12 arte-galeria-img">
                        <img src="../../imgs/recurso3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <h3 class="mt-4">Nombre del artista</h3>
                            <h5>Ciudad, País.</h5>
                        </div>
                        <p><?php echo $translate->__tr('art-gallery2-content1');?></p>
                        <p><?php echo $translate->__tr('art-gallery2-content2');?></p>
                        <a href="#" class="flecha-btn"><img src="../../imgs/flecha.svg" alt="visit web site"><?php echo $translate->__tr('art-visit-web-site');?></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>