<?php $page = 'art'; ?>


<section id="arte" class="margin-top mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mb-5  bkg-novedades">
                <h1>Our Blockchain Technology in
                    the Art Scene</h1>
                <button type="button" class="btn btn-outline-secondary btn-enter-asset-id mt-4">ENTER ASSET ID
                    <?php echo file_get_contents("././imgs/flecha-der.svg"); ?></button>
            </div>
        </div>
    </div>
</section>

<section id="arte-galeria" class="arte-galeria">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="row">
                    <div class="col-lg-12 arte-galeria-img">
                        <img src="../../imgs/Recurso 8@2x.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <h3 class="mt-4">Nombre del artista</h3>
                            <h5>Ciudad, País.</h5>
                        </div>
                        <p>
                            Vivamus mollis quam eros, nec convallis enim sodales non. Vestibulum quis
                            commodo nisi. Phasellus tincidunt risus eget scelerisque iaculis. Nulla eget
                            consectetur mi, vulputate accumsan urna.
                        </p>
                        <p>
                            Praesent consequat magna efficitur molestie sagittis. Nam euismod ante sed
                            efficitur tempor. Sed viverra augue dolor, at posuere nibh ullamcorper vel.
                            Quisque iaculis sit amet dui sit amet elementum. Vestibulum quis feugiat
                            nunc. Nulla facilisi. Donec vel venenatis nulla.
                        </p>
                        <a href="#" class="flecha-btn"><img src="../../imgs/flecha.svg" alt="viseit web site"> VISIT WEB
                            SITE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-5 pt-lg-5">
                <div class="row">
                    <div class="col-lg-12 arte-galeria-img">
                        <img src="../../imgs/recurso3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <h3 class="mt-4">Nombre del artista</h3>
                            <h5>Ciudad, País.</h5>
                        </div>
                        <p>
                            Vivamus mollis quam eros, nec convallis enim sodales non. Vestibulum quis
                            commodo nisi. Phasellus tincidunt risus eget scelerisque iaculis. Nulla eget
                            consectetur mi, vulputate accumsan urna.
                        </p>
                        <p>
                            Praesent consequat magna efficitur molestie sagittis. Nam euismod ante sed
                            efficitur tempor. Sed viverra augue dolor, at posuere nibh ullamcorper vel.
                            Quisque iaculis sit amet dui sit amet elementum. Vestibulum quis feugiat
                            nunc. Nulla facilisi. Donec vel venenatis nulla.
                        </p>
                        <a href="#" class="flecha-btn"><img src="../../imgs/flecha.svg" alt="viseit web site"> VISIT WEB
                            SITE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>