<?php
?>

<section id="blockchain" class="blockchain margin-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <h3>What is blockchain</h3>
      </div>
      <div class="col-lg-6">
        <p>
          Blockchain is a decentralized and immutable database that allows
          storing information about the origin, name, techniques and materials
          of an art work, protecting it through cryptography. El Grey ID
          elevates this technology to register pieces of art. In this way, the
          physical object is linked to the digital world in a safe way, reducing
          the risk of counterfeiting.
        </p>
        <p>
          We use these immutable and cryptographic resources to generate a
          certificate that is easy to use, read, and audit. Its tamper-proof
          qualities assures trust and transparency amonginterested parties.
        </p>
      </div>
      <div class="col-lg-6">
        <h5>
          Blockchain is an electronic ledger system that chronologically records
          a cryptographically secure and immutable transaction of value, such as
          documents, certificates or money. The Blockchain does not exist in one
          central location, it's completely decentralized and distributed.
        </h5>
      </div>
      <div class="col-lg-6 mb-6">
        <h5>
          What is blockchain and how does it work?
        </h5>
        <p>
          At its core, blockchain is a decentralised database technology, built
          around a P2P system, that allows a large number of server nodes to
          store synchronised copies of the same data in order to create an
          immutable record of transactions. Each transaction is added to a new
          block which is time-stamped and cryptographically ‘chained’ to the
          previous block that was added to the blockchain, which was chained to
          the block before it, and so on, all the way to the first block. Hence
          the name ‘blockchain’.
        </p>
      </div>
      <div class="col-lg-6 blockchain-item">
          <img src="../../imgs/notfound.jpg" alt="">
          <p>
            For a transaction to be added to the ledger it has to
            have the consensus of an entire network, which consists
            of a chain of computers connected, thereby creating a
            continuous mechanism of control regarding manipulation,
            errors, and data quality. Once new data is entered it can
            never be erased. 
          </p>
      </div>
      <!-- inicio item -->
      <div class="col-lg-12 blockchain-item-presentation my-5">
          <div class="row text-center">
              <div class="col-lg-4 mb-4">
                  <h5>1</h5>
                  <p>A TRANSACTION IS
                    REQUESTED.</p>
                    <img src="../../imgs/beneficio8.svg" alt="">
              </div>
              <div class="col-lg-4 mb-4">
                  <h5>2</h5>
                  <p>THE TRANSACTION IS
                    REPRESENTED ONLINE AS A “BLOCK”</p>
                    <img src="../../imgs/beneficio1.svg" alt="">
              </div>
              <div class="col-lg-4 mb-4">
                  <h5>3</h5>
                  <p>THE BLOCK IS BROADCAST
                    TO EVERY PARTY IN THE NETWORK</p>
                    <img src="../../imgs/beneficio3.svg" alt="">
              </div>
              <div class="col-lg-4 mb-4">
                  <h5>4</h5>
                  <p>THOSE IN THE NETWORK
                    VALIDATE THE TRANSACTION</p>
                    <img src="../../imgs/beneficio4.svg" alt="">
              </div>
              <div class="col-lg-4 mb-4">
                  <h5>5</h5>
                  <p>THE BLOCK CAN THEN BE ADDED TO THE CHAIN,
                    WHICH PROVIDES AN INDELIBLE AND TRANSPARENT
                    RECORD OF TRANSACTIONS</p>
                    <img src="../../imgs/beneficio5.svg" alt="">
              </div>
              <div class="col-lg-4 mb-4">
                  <h5>6</h5>
                  <p>THE TRANSACTION IS
                    COMPLETED</p>
                    <img src="../../imgs/beneficio1.svg" alt="">
              </div>
          </div>
      </div>
      <!-- fin de los items -->
      
      <div class="col-lg-12">
        <h5>tamper-proof</h5>
          <p>As the name implies blockchain is a chain of digital “blocks” that contain records of transactions. As blocks are only added to
            the blockchain with the consensus of independent nodes, there is no single point of failure through which the blockchain’s data
            can be corrupted. They are decentralized and distributed ledgers across P2P networks that are continually updated and kept
            synchronized. This makes unauthorised alterations significantly more difficult than they may be with traditional ledgers, which
            can be modified by a single trusted authority. 
            </p>
      </div>
      <div class="col-lg-12">
          <div class="row">
              <div class="col-lg-4">
                  <p>CENTRALIZED</p>
                  <img src="" alt="">
              </div>
              <div class="col-lg-4">
                  <p>DECENTRALIZED</p>
                  <img src="" alt="">
              </div>
              <div class="col-lg-4">
                  <p>DISTRIBUTED</p>
                  <img src="" alt="">
              </div>
          </div>
      </div>
      <div class="col-lg-12 mb-4">
          <h5>The strength of the Hash </h5>
          <p>The value of blockchain technology lies in the secure distribution of data that works through hashes. Hashes transform certain
            information - for example a certificate of authenticity of a work of art - into a single alphanumeric string. The process of creating
            hashes is one way only. Each of these input data produces a different output data, thus generating an immutable result.
            The hashes are what make the data immutable. These functions serve to ensure the authenticity of data since the hashes are
            irreversible. Therefore, this digital sequence is totally immutable, making counterfeiting almost impossible, since to modify a
            data it would be necessary to modify the entire system that is distributed in thousands of computers at the same time.</p>
      </div>
      <div class="col-lg-12 mb-4">
          <h5>How is a certificate created?</h5>
          <p>Basically, we encrypt the information of the certificate of authenticity, we get a hash as a result of that encryption, and it is that
            hash that we store on the blockchain. Source data cannot be reconstructed from hash stored on blockchain</p>
      </div>
      <div class="col-lg-12 mb-4">
          <h5>Certification process steps</h5>
          <p>First, we take the information to be certified (source data) and through a procedure called SHA 256, we encrypt that
            information and obtain a hash (one-way alphanumeric code) as a result.</p>
            <img src="" alt="">
      </div>
      <div class="col-lg-12 blockchain-item-ul mb-5">
          <p>Every time we want to validate that a certificate or certain information has not been altered, we carry out the following steps:</p>
          <ul>
            <li>1. We recalculate the hash of the source information, using the SHA-256 function.</li>
            <li>2. If the obtained hash matches the hash stored on the blockchain, then the information has not been altered, and the
            certificate is valid.</li>
            <li>3. If the obtained hash does not match the hash stored on the blockchain, then the source information has been altered and
            the certificate is invalid.</li>
          </ul>
          <p>The source information is never published on the blockchain and is only stored on the organization's servers.
            Only the cryptographic function of that information is stored on the blockchain.</p>
      </div>
      <div class="col-lg-12">
          <div class="row">
              <div class="col-lg-6">
                  <h5>Immutable certificates</h5>
                  <p>Blockchain is an immutable and distributed
                    database, where each block of information is
                    related to the previous one. When a certificate
                    is issued, your data is compressed into a hash
                    and registered on the blockchain.
                    This generates a "receipt" that can always be
                    verified at a later date. Our verification service
                    validates the issuer's signature and the certificate
                    data; It also ensures that the status of the
                    certificate has not expired or has been revoked.
                    </p>
                    <p>
                        The friendly version of the certificate displayed
                        online can change visually, depending on the
                        device that displays it. For example, it may
                        appear one way in a mobile app and slightly
                        differently in a web browser. Although this
                        screen can be optimized for different
                        circumstances, the data within the certificate
                        can never be changed.
                    </p>
              </div>
              <div class="col-lg-6">
                  <h5>Can issued certificates be changed?</h5>
                  <p>The certificates are immutable and once the information is registered, it
                    cannot be altered. However, through El Grey ID you can revoke the
                    certificates or define their validity time. The issuer can revoke certificates
                    that have errors or simply omit a recipient.</p>
                    
                    <h5>Benefits of an authenticity certificate in Blockchain</h5>
                    <img src="" alt="">
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
