<section id="how-is-certificate" class="how-is-certificate margin-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 my-5">
        <h1><?php echo $translate->__tr('how-is-certificate-title');?></h1>
      </div>
      <div class="col-lg-11 offset-lg-1 WWD-content my-2">
        <p><?php echo $translate->__tr('how-is-certificate-content1');?></p>
        <h5 class="my-4"><?php echo $translate->__tr('how-is-certificate-content2');?></h5>
        <p><?php echo $translate->__tr('how-is-certificate-content3');?></p>
      </div>
	  <div class="col-lg-11 offset-lg-1 cube-blockchain text-center my-2">
          <img class="img-fluid w-100"src="../../imgs/GRAFICOS-04.png" alt="cuadro" />
        </div>
      <div class="col-lg-10 offset-lg-1 my-5 WWD-content">
        <p><?php echo $translate->__tr('how-is-certificate-content4');?></p>
        <div class="list-numeration">
            <ol>
                <li><?php echo $translate->__tr('how-is-certificate-list1');?></li>
                <li><?php echo $translate->__tr('how-is-certificate-list2');?></li>
                <li><?php echo $translate->__tr('how-is-certificate-list3');?></li>
            </ol>
            <p><?php echo $translate->__tr('how-is-certificate-content5');?></p>
        </div>
      </div>
      <div class="col-lg-11 offset-lg-1 WWD-content">
          <h5 class="my-4"><?php echo $translate->__tr('how-is-certificate-content6');?></h5>
          <p><?php echo $translate->__tr('how-is-certificate-content7');?></p>
          <p><?php echo $translate->__tr('how-is-certificate-content8');?></p>
      </div>
      <div class="col-lg-11 offset-lg-1 WWD-content">
          <h5 class="my-4"><?php echo $translate->__tr('how-is-certificate-content9');?></h5>
          <p><?php echo $translate->__tr('how-is-certificate-content10');?></p>
      </div>
    </div>
  </div>
</section>
