<?php
?>
<!-- 
        ===================================
        MAIN CONTENT 
        ===================================
      -->

<!-- ********
    TRANSFORMACTION DIGITAL SECTION 1
  ************* -->

<section id="transformacion-digital" class="transformacion-digital">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 transformacion-digital-items2">
        <h1 class="mb-4"><?php echo $translate->__tr('inicio-title');?></h1>
        <p class="h4"><?php echo $translate->__tr('inicio-subtitle');?></p>
      </div>
    </div>
  </div>
</section>

<!-- ********
    TRASCENDIENDO LA IDENTIDAD SECTION 2
  ************* -->

<section id="trascendiendo-identidad" class="trascendiendo-identidad">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 mb-4 trascendiendo-titulo">
        <h3><?php echo $translate->__tr('inicio-transendiendo-title');?></h3>
      </div>
      <div class="col-lg-6 trascendiendo-parrafo">
        <p><?php echo $translate->__tr('inicio-transendiendo-content1');?></p>
        <p><?php echo $translate->__tr('inicio-transendiendo-content2');?></p>
      </div>
      <div class="col-lg-4 trascendiendo-imagen">
        <img class="img-fluid" src="../../imgs/Recurso 4@2x.png" alt="Ary Brizzi" />
		<span>ARY BRIZZI</span>
      </div>
    </div>
  </div>
</section>

<!-- ********
     COMO SON LOS CERTIFICADOS SECTION 3
  ************* -->

<section id="como-certific" class="como-certific mb-5 pb-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 text-center certific-item-1">
        <img src="../../imgs/Recurso 3@2x.png" alt="" />
      </div>
      <div class="col-lg-6 como-certific-items align-self-center">
        <h2><?php echo $translate->__tr('inicio-whatisblockchain-title');?></h2>
        <p><?php echo $translate->__tr('inicio-whatisblockchain-subtitle');?></p>
      </div>
    </div>
  </div>
</section>

<!-- ********
     Beneficios 4
  ************* -->

<section id="beneficios" class="beneficios">
  <div class="container">
    <div class="row">
      <div class="co-lg-12 beneficios-titulo">
        <h3><?php echo $translate->__tr('inicio-beneficts-title');?></h3>
      </div>
      <!-- sin carrusel -->
      <div class="col-lg-12 sin-carrusel">
        <div class="row">
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio1.svg" alt="<?php echo $translate->__tr('inicio-beneficts1-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts1-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts1-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio2.svg" alt="<?php echo $translate->__tr('inicio-beneficts2-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts2-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts2-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio3.svg" alt="<?php echo $translate->__tr('inicio-beneficts3-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts3-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts3-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio4.svg" alt="<?php echo $translate->__tr('inicio-beneficts4-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts4-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts4-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio5.svg" alt="<?php echo $translate->__tr('inicio-beneficts5-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts5-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts5-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio6.svg" alt="<?php echo $translate->__tr('inicio-beneficts6-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts6-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts6-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio7.svg" alt="<?php echo $translate->__tr('inicio-beneficts7-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts7-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts7-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio8.svg" alt="<?php echo $translate->__tr('inicio-beneficts8-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts8-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts8-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="mr-3" src="../../imgs/beneficio9.svg" alt="<?php echo $translate->__tr('inicio-beneficts9-title');?>" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts9-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts9-content');?></p>
            </div>
          </div>
        </div>
      </div>
      <!-- inicio de los articulos Solo en responsive con carrusel -->
      <div class="pista-carrusel col-lg-12">


        <div class="row">
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio1.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts1-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts1-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio2.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts2-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts2-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio3.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts3-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts3-content');?></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio4.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts4-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts4-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio5.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts5-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts5-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio6.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts6-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts6-content');?></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio7.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts7-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts7-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio8.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts8-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts8-content');?></p>
            </div>
          </div>
          <div class="col-lg-4 media mt-5">
            <img class="align-self-center mr-3" src="../../imgs/beneficio9.svg" alt="" />
            <div class="media-body">
              <h5 class="mt-0"><?php echo $translate->__tr('inicio-beneficts9-title');?></h5>
              <p class="mb-0"><?php echo $translate->__tr('inicio-beneficts9-content');?></p>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de los articulo -->
      <div class="col-lg-12 text-center my-5">
        <a href="what-is-blockchain">
          <button type="button" class="btn btn-outline-dark my-5"><?php echo $translate->__tr('inicio-beneficts-button');?></button>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- ********
     COMO LOS CERTIFICAMOS SECTION 5
  ************* -->

<section id="colaboracion" class="colaboracion my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 colaboracion-item-1">
        <h2><?php echo $translate->__tr('inicio-collaboration-title');?></h2>
        <p><?php echo $translate->__tr('inicio-collaboration-subtitle');?></p>
      </div>
      <div class="col-lg-6 colaboracion-item-2">
        <div class="colaboracion-subitems-1 mb-5">
          <h4><?php echo $translate->__tr('inicio-collaboration-subitems1-title');?></h4>
          <ul>
            <li class="my-2"><?php echo $translate->__tr('inicio-collaboration-subitems1-content1');?></li>
            <li class="my-2"><?php echo $translate->__tr('inicio-collaboration-subitems1-content2');?></li>
            <li class="my-2"><?php echo $translate->__tr('inicio-collaboration-subitems1-content3');?></li>
          </ul>
        </div>
        <div class="colaboracion-subitems-2">
          <h4><?php echo $translate->__tr('inicio-collaboration-subitems2-title');?></h4>
          <ul>
            <li class="my-2"><?php echo $translate->__tr('inicio-collaboration-subitems2-content1');?></li>
            <li class="my-2"><?php echo $translate->__tr('inicio-collaboration-subitems2-content2');?></li>
            <li class="my-2"><?php echo $translate->__tr('inicio-collaboration-subitems2-content3');?></li>
            <li class="my-2"><?php echo $translate->__tr('inicio-collaboration-subitems2-content4');?></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ********
     Galeria de imagenes SECTION 6
  ************* -->

<section id="galeria-grande" class="galeria-grande">
  <div class="container-fluid">
    <div class="d-flex flex-row flex-wrap justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6 text-left">
            <h3><?php echo $translate->__tr('inicio-gallery-title');?></h3>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column exampleImg">
        <div class="exampleImg artist-name1">
          <img src="../../imgs/Recurso 5@2x.png" class="img-fluid" />
        </div>

        <div class="exampleImg artist-name2">
          <img src="../../imgs/recurso3.png" class="img-fluid" />
        </div>
      </div>

      <div class="d-flex flex-column exampleImg">
        <div class="exampleImg artist-name3">
          <img src="../../imgs/Recurso 6@2x.png" class="img-fluid" />
        </div>

        <div class="exampleImg artist-name4">
          <img src="../../imgs/Recurso 8@2x.png" class="img-fluid scale" />
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <a href="<?php echo BASE_URL; ?>art" class="btn btn-outline-dark my-5"><?php echo $translate->__tr('inicio-gallery-button');?></a>
    </div>
  </div>
</section>

<!-- ********
    formulario SECTION 7
 ************* -->

<section id="formulario" class="formulario">
  <?php
include("formulario.htm");
?>
</section>

<!-- ********
    Pequeña galeria SECTION 8
 ************* -->

<section id="pequeña-galeria" class="pequeña-galeria">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 my-3">
        <h2><?php echo $translate->__tr('inicio-news-title');?></h2>
      </div>
    </div>

    <!-- sin carrusel -->
    <div class="row justify-content-between peque-galeria-items sin-carrusel">
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/Recurso 1@2x.png" alt="" />
            <small class="text-left">COURTESY / INÉS BANCALARI CARE OF ESTEFANÍA BUSTAMANTE</small>
          </div>
          <div class="col-lg-12 min-galeria-content alineado">
            <h5><?php echo $translate->__tr('inicio-news-news1-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news1-content');?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="
        https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Finance/gx-fsi-art-and-finance-report-2019.pdf"
          target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>        
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news2.png" alt="" />
            <small class="text-left">SOURCE / ARTBASEL</small>
          </div>
          <div class="col-lg-12 min-galeria-content alineado">
            <h5><?php echo $translate->__tr('inicio-news-news2-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news2-content');?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.artbasel.com/news/blockchain-artworld-cryptocurrency-cryptokitties" target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news3.png" alt="" />
            <small class="text-left">SOURCE / COINTELEGRAPH</small>
          </div>
          <div class="col-lg-12 min-galeria-content alineado">
            <h5><?php echo $translate->__tr('inicio-news-news3-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news3-content');?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://cointelegraph.com/news/world-economic-forum-looks-to-blockchain-to-restart-global-economy"
          target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>
      </div>
    </div>
    <!-- sin carrusel fin -->


    <!-- en carrusel -->
    <div class="row justify-content-between peque-galeria-items pista-carrusel">
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/Recurso 1@2x.png" alt="" />
            <small class="text-left">COURTESY / INÉS BANCALARI CARE OF ESTEFANÍA BUSTAMANTE</small>
          </div>
          <div class="col-lg-12 min-galeria-content">
            <h5><?php echo $translate->__tr('inicio-news-news1-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news1-content');?></p>
          </div>
          <div class="col-lg-12">
            <a href="
        https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Finance/gx-fsi-art-and-finance-report-2019.pdf"
          target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>        
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news2.png" alt="" />
            <small class="text-left">SOURCE / ARTBASEL</small>
          </div>
          <div class="col-lg-12 min-galeria-content">
            <h5><?php echo $translate->__tr('inicio-news-news2-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news2-content');?></p>
          </div>
          <div class="col-lg-12">
            <a href="https://www.artbasel.com/news/blockchain-artworld-cryptocurrency-cryptokitties" target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news3.png" alt="" />
            <small class="text-left">SOURCE / COINTELEGRAPH</small>
          </div>
          <div class="col-lg-12 min-galeria-content">
            <h5><?php echo $translate->__tr('inicio-news-news3-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news3-content');?></p>
          </div>
          <div class="col-lg-12">
            <a href="https://cointelegraph.com/news/world-economic-forum-looks-to-blockchain-to-restart-global-economy"
          target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>
      </div>
    </div>
    <!-- fin carrusel -->

    <div class="row">
      <div class="col-lg-12 my-5 text-center">
        <a href="<?php echo BASE_URL; ?>news" class="btn btn-outline-dark"><?php echo $translate->__tr('inicio-news-button');?></a>
      </div>
    </div>
  </div>
</section>


<!-- carrusel -->

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('.pista-carrusel').slick({

      dots: true,
      slidesToShow: 1,
    });
  });
</script>