<?php
?>
<!-- 
        ===================================
        MAIN CONTENT 
        ===================================
      -->

<!-- ********
    TRANSFORMACTION DIGITAL SECTION 1
  ************* -->

<section id="transformacion-digital" class="transformacion-digital">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 transformacion-digital-items2">
        <h1>
          Leveraging the Art Scene through Blockchain Technology
        </h1>
        <p>
          We empower the art world by creating innovative Authenticity
          Certificates. We invite artists, collectionists and gallery owners to
          be part of the future.
        </p>
      </div>
      <div class="col-lg-5 mb-3 transformacion-digital-items1"></div>
    </div>
  </div>
</section>

<!-- ********
    TRASCENDIENDO LA IDENTIDAD SECTION 2
  ************* -->

<section id="trascendiendo-identidad" class="trascendiendo-identidad">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-7 trascendiendo-item">
        <div class="mb-4 trascendiendo-titulo">
          <h3>In Pursuit of Identity</h3>
          <span><h3>-</h3></span>
        </div>
        <div class="trascendiendo-parrafo">
          <p>
            The value of an artwork belongs to its origin, techniques,
            materials, its storytelling and the unique emotional feeling that
            generates. We understand the significance of its identity, that is
            why we materialize this work in a sustainable and transparent way,
            empowering the artist and preserving his creations through
            blockchain.
          </p>
          <p>
            With this technology we aim to behold a more ethical and holistic
            balance connecting artists, collectors and museums. Certificates
            allow unique art pieces to remain stamped for eternity.
          </p>
        </div>
      </div>
      <div class="col-lg-4 trascendiendo-imagen">
        <img src="../../imgs/Recurso 4@2x.png" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- ********
     COMO SON LOS CERTIFICADOS SECTION 3
  ************* -->

<section id="como-certific" class="como-certific mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 certific-item-1">
        <img src="../../imgs/Recurso 3@2x.png" alt="" />
      </div>
      <div class="col-lg-7 como-certific-items align-self-center">
        <div class="">
          <h2>What is a Blockchain Certificate</h2>
          <span><h2>-</h2></span>
        </div>
        <p>
          An authenticity certificate issues a digital identity, an immutable,
          tamper proof timestamp that preserves the artwork through time
          enhancing it´s value. Blockchain Technology provides encrypted data,
          introducing market transparency, security and provenance verification.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ********
     AUTENCIDAD Y VALOR SECTION 4
  ************* -->

<section id="beneficios" class="beneficios">
  <div class="container">
    <div class="row">
      <div class="co-lg-12">
        <h3>Benefits</h3>
        <span><h3>-</h3></span>
      </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio1.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Authenticity
                </h5>
                <p class="mb-0">
                  Certify the authorship of an art work
                </p>
              </div>
            </div>
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio2.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Immutable
                </h5>
                <p class="mb-0">
                  Secure and incorruptible ledger
                </p>
              </div>
            </div>
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio3.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Timestamp
                </h5>
                <p class="mb-0">
                  Exact date and time of certification
                </p>
              </div>
            </div>
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio4.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Geolocation
                </h5>
                <p class="mb-0">
                  Know the location of verification points
                </p>
              </div>
            </div>
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio5.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Recognition
                </h5>
                <p class="mb-0">
                  Settles techniques and materials
                </p>
              </div>
            </div>
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio6.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Transparency
                </h5>
                <p class="mb-0">
                  Guarantees trust during transactions
                </p>
              </div>
            </div>
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio7.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Validation
                </h5>
                <p class="mb-0">
                  Allows for third parties verification 
                </p>
              </div>
            </div>
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio8.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Portable
                </h5>
                <p class="mb-0">
                  Carry and store your collection in any device
                </p>
              </div>
            </div>
            <div class="col-lg-4 media mt-5">
              <img class="align-self-center mr-3" src="../../imgs/beneficio9.svg" alt="">
              <div class="media-body">
                <h5 class="mt-0">
                  Share
                </h5>
                <p class="mb-0">
                  Simple and trusted way to share information
                </p>
              </div>
            </div>
          </div>
        </div>
      <div class="col-lg-12 text-center">
        <button type="button" class="btn btn-outline-dark my-5">
          <a href="#">more about Blockchain</a>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- ********
     COMO LOS CERTIFICAMOS SECTION 5
  ************* -->

<section id="colaboracion" class="colaboracion my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 colaboracion-item-1">
        <h2>Collaboration is the way
          forward</h2>
        <span><h2>-</h2></span>
        <p>
          An El Grey ID certificate will navigate the art world in a holistic movement: bonding and protecting the creator, gallerists and collectionists.
        </p>
      </div>
      <div class="col-lg-6 colaboracion-item-2">
        <div class="colaboracion-subitems-1 mb-5">
          <h3>Artists</h3>
          <ul>
            <li>
              Immortalize the artwork and its techniques through time
            </li>
            <li>
              Self empowerment and management of the work
            </li>
            <li>
              Enhanced valuation of the art piece
            </li>
          </ul>
        </div>
        <div class="colaboracion-subitems-2 ">
          <h3>Galleries, collectionists and museums</h3>
          <ul>
            <li>
              Secure artwork authenticity</li>
            <li>
              International reach and self management of its own collection
            </li>
            <li>
              Identity verification for international art exhibitions 
            </li>
            <li>
              Portable collection
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ********
     Galeria de imagenes SECTION 6
  ************* -->

<section id="galeria-grande" class="galeria-grande">
  <div class="container-fluid">
    <div class="d-flex flex-row flex-wrap justify-content-center">
      <div class="col-lg-12 mb-5 text-center">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6 text-left">
            <h3>Artists in our Platform</h3>
            <span><h3>-</h3></span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column exampleImg">        
        <div class="exampleImg artist-name1">
          <img
          src="../../imgs/Recurso 5@2x.png"
          class="img-fluid"
        />
        </div>

        <div class="exampleImg artist-name2">
          <img
          src="../../imgs/Recurso 9@2x.png"
          class="img-fluid"
        />
        </div>
      </div>

      <div class="d-flex flex-column exampleImg">
        <div class="exampleImg artist-name3">
          <img
        src="../../imgs/Recurso 6@2x.png"
        class="img-fluid"
      />
        </div>

        <div class="exampleImg artist-name4">
          <img
          src="../../imgs/Recurso 8@2x.png"
          class="img-fluid scale"
        />
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <button type="button" class="btn btn-outline-dark my-5">
        <a href="#">view more</a>
      </button>
    </div>
  </div>
</section>

<!-- ********
    formulario SECTION 7
 ************* -->

<section id="formulario" class="formulario">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5 text-center">
        <h4>
          Join our Art Community
        </h4>
        <p>Contact us to learn more about Authenticity Certificates:</p>
      </div>
      <div class="col-lg-12 text-center">
        <form>
          <div class="form-group row justify-content-center">
            
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control"
                id="inputname"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-group row justify-content-center">
            
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control"
                id="inputsurname"
                placeholder="Surname"
              />
            </div>
          </div>
          <div class="form-group row justify-content-center">
            
            <div class="col-sm-7">
              <input
                type="email"
                class="form-control"
                id="inputemail"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="form-group row text-center my-5 justify-content-center">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-outline-dark">send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- ********
    Pequeña galeria SECTION 8
 ************* -->

<section id="pequeña-galeria" class="pequeña-galeria">
  <div class="container-fluid">
    <div class="row justify-content-between peque-galeria-items">
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/notfound.jpg" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>Collectors are looking for more
            transparency</h5>
          <span><h5>-</h5></span>
          <p>Technology has the potential to effectively boost art
            buyers' interest, 75% of collectors said that a lack of
            transparency was their biggest concern when broadening their investments...</p>
        </div>
        <a href="">view more</a>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/notfound.jpg" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>Is Blockchain the future of Art?</h5>
          <span><h5>-</h5></span>
          <p>“Blockchain’s impact on the artworld is already
            undeniable” – Anneli Botz
            Blockchain has been introduced to broaden the market’s transparency, it is sought - after for its authenticity and provenance verification...</p>
        </div>
        <a href="">view more</a>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/notfound.jpg" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>The World Economic Forum has launched
            a Blockchain deployment kit to help reboot
            the global economy</h5>
          <span><h5>-</h5></span>
          <p>“Consumers are demanding a totally new level of
            transparency,” adding that “consumers reward the
            supply chain when the transparency ...</p>
        </div>
        <a href="">view more</a>
      </div>
      
      <div class="col-lg-12 my-5 text-center">
        <button type="button" class="btn btn-outline-dark">
          novedades sobre blockchain
        </button>
      </div>
    </div>
  </div>
</section>
