<?php
?>
<?php
?>
<!-- CONTACT-FORM -->
<section id="news" class="margin-top">
  <div class="container-fluid">
    <div class="row">      
      <div class="col-lg-12 bkg-novedades">
        <h1>Technology meets Art</h1>
      </div>
    </div>
  </div>
</section>

<section id="pequeña-galeria" class="pequeña-galeria">
  <div class="container-fluid">
    <div class="row justify-content-between peque-galeria-items">
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/Recurso 1@2x.png" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>Collectors are looking for more
            transparency</h5>
          <span><h5>-</h5></span>
          <p>
            Technology has the potential to effectively boost art
            buyers' interest, 75% of collectors said that a lack of
            transparency was their biggest concern when broadening their investments in the art market.
          </p>
          <p>
            “ArtTech startups aim to enhance transparency and
            trust, whether through the use of blockchain technology or by looking at ways to improve transparency
            through more data, better data analytics, and artificial intelligence.”
          </p>
          <p class="author-news">
            Deloitte's Art & Finance Report 2019
          </p>
        </div>
        <div class="col-lg-12 my-5">
          <a href="https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Finance/gx-fsi-art-and-finance-report-2019.pdf" target="_blank">
            <button type="button" class="btn btn-outline-dark">
              view more
            </button>
          </a>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/news2.png" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>Is Blockchain the future of Art?</h5>
          <span><h5>-</h5></span>
          <p>
            “Blockchain’s impact on the artworld is already undeniable” – Anneli Botz
          </p>
          <p>
            Blockchain has been introduced to broaden the market’s transparency, it is sought - after for its authenticity and provenance verification tools and for its new
            groundbreaking approach to art collecting.
          </p>
          <p>
            According to Deloitte's Art & Finance report of 2019,
            one of the critical challenges when it comes to
            broadening the appeal of the art market is a lack of
            transparency, 75% of collectors said that a lack of
            transparency was the biggest threat to the reputation
            of the art market.
          </p>
          <p class="author-news">Written by Anneli Botz for Art Base</p>
        </div>
        <div class="col-lg-12 my-5">
          <a href="https://www.artbasel.com/news/blockchain-artworld-cryptocurrency-cryptokitties" target="_blank">
            <button type="button" class="btn btn-outline-dark">
              view more
            </button>
          </a>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/news3.png" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>The World Economic Forum has launched
            a Blockchain deployment kit to help reboot
            the global economy</h5>
          <span><h5>-</h5></span>
          <p>
            “Consumers are demanding a totally new level of
            transparency,” adding that “consumers reward the
            supply chain when the transparency and sustainability are there.” - Rupert Colchester (Head of Blockchain and Consulting Practice Leader - IBM)
          </p>
          <p>
            “Blockchain could fundamentally change the way in
            which materials and natural resources are valued and
            traded, incentivizing individuals, companies, and
            governments to unlock financial value from things
            that are currently wasted, discarded or treated as
            economically invaluable” - WEF @worldeconomicforum
          </p>
          <p class="author-news">Written by Samuel Haig for @cointelegraph</p>
        </div>
        <div class="col-lg-12 my-5">
          <a href="https://cointelegraph.com/news/world-economic-forum-looks-to-blockchain-to-restart-global-economy" target="_blank">
            <button type="button" class="btn btn-outline-dark">
              view more
            </button>
          </a>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/news4.jpg" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>What happens next very much depends on
            how much the current players are willing
            and able to innovate </h5>
          <span><h5>-</h5></span>
          <p>
            In the midst of the crisis, new opportunities may
            arise and new business models will proliferate. As
            80% of luxury customers say they prefer brands that
            are socially responsible, the next generation of shoppers are more interested in authentic products
            rather than who the seller is.
          </p>
          <p>
            Blockchain technology provides a secure authenticity
            log for every product allowing any takedown of any
            unauthorised reseller and will help brands keep a
            closer watch on their wares.
          </p>
          <p>
            LVMH, for instance, announced its AURA blockchain project last year, while Richemont has launched blockchain pilots with some of its watch brands.
          </p>
          <p class="author-news">Source: Business of Fashion – BOF</p>
        </div>
        <div class="col-lg-12 my-5">
          <a href="https://www.businessoffashion.com/articles/fashion-tech/how-luxury-fashion-learned-to-love-the-blockchain" target="_blank">
            <button type="button" class="btn btn-outline-dark">
              view more
            </button>
          </a>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/news5.png" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>Is Blockchain the future of Art?</h5>
          <span><h5>-</h5></span>
          <p>“Blockchain’s impact on the artworld is already undeniable” – Anneli Botz</p>
          <p>Blockchain has been introduced to broaden the market’s transparency, it is sought - after for its authenticity and provenance verification tools and for its new
            groundbreaking approach to art collecting.</p>
          <p>According to Deloitte's Art & Finance report of 2019,
            one of the critical challenges when it comes to
            broadening the appeal of the art market is a lack of
            transparency, 75% of collectors said that a lack of
            transparency was the biggest threat to the reputation
            of the art market.</p>
          <p class="author-news">Written by Anneli Botz for Art Basel</p>
        </div>
        <div class="col-lg-12 my-5">
          <a href="https://www.artnews.com/art-news/news/art-trends-that-move-art-world-forward-1202692078/" target="_blank">
            <button type="button" class="btn btn-outline-dark">
              view more
            </button>
          </a>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="my-4 text-center">
          <img class="img-fluid" src="../../imgs/news6.jpg" alt="" />
        </div>
        <div class="min-galeria-content">
          <h5>The World Economic Forum has launched
            a Blockchain deployment kit to help reboot
            the global economy</h5>
          <span><h5>-</h5></span>
          <p>“Consumers are demanding a totally new level of
            transparency,” adding that “consumers reward the
            supply chain when the transparency and sustainability are there.” - Rupert Colchester (Head of Blockchain and Consulting Practice Leader - IBM)</p>
          <p>“Blockchain could fundamentally change the way in
            which materials and natural resources are valued and
            traded, incentivizing individuals, companies, and
            governments to unlock financial value from things
            that are currently wasted, discarded or treated as
            economically invaluable” - WEF @worldeconomicforum</p>
          <p class="author-news">Written by Samuel Haig for @cointelegraph</p>
        </div>
        <div class="col-lg-12 my-5">
          <a href="https://www.artnews.com/art-news/news/art-trends-that-move-art-world-forward-1202692078/" target="_blank">
            <button type="button" class="btn btn-outline-dark">
              view more
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>