<section id="news" class="margin-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 bkg-novedades">
        <h1><?php echo $translate->__tr('news-title'); ?></h1>
      </div>
    </div>
	<div id="pequeña-galeria" class="pequeña-galeria">
  <div class="container-fluid">
    <div class="row justify-content-between peque-galeria-items sin-carrusel">
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/Recurso 1@2x.png" alt="" />
            <small class="text-left">COURTESY / INÉS BANCALARI CARE OF ESTEFANÍA BUSTAMANTE</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5><?php echo $translate->__tr('news-new1-title'); ?></h5>
            <p><?php echo $translate->__tr('news-new1-content1'); ?></p>
            <p><?php echo $translate->__tr('news-new1-content2'); ?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="
        https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Finance/gx-fsi-art-and-finance-report-2019.pdf"
              target="_blank"><button type="button" class="btn btn-outline-dark">
                <?php echo $translate->__tr('news-button-view-article'); ?>
              </button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news2.png" alt="" />
            <small class="text-left">SOURCE / ARTBASEL</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5><?php echo $translate->__tr('news-new2-title'); ?></h5>
            <p><?php echo $translate->__tr('news-new2-content1'); ?></p>
            <p><?php echo $translate->__tr('news-new2-content2'); ?></p>
            <p><?php echo $translate->__tr('news-new2-content3'); ?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.artbasel.com/news/blockchain-artworld-cryptocurrency-cryptokitties"
              target="_blank"><button type="button" class="btn btn-outline-dark">
                <?php echo $translate->__tr('news-button-view-article'); ?>
              </button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news3.png" alt="" />
            <small class="text-left">SOURCE / COINTELEGRAPH</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5><?php echo $translate->__tr('news-new3-title'); ?></h5>
            <p><?php echo $translate->__tr('news-new3-content1'); ?></p>
            <p><?php echo $translate->__tr('news-new3-content2'); ?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://cointelegraph.com/news/world-economic-forum-looks-to-blockchain-to-restart-global-economy"
              target="_blank"><button type="button" class="btn btn-outline-dark">
                <?php echo $translate->__tr('news-button-view-article'); ?>
              </button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news4.jpg" alt="" />
            <small class="text-left">SOURCE / BOF </small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5><?php echo $translate->__tr('news-new4-title'); ?></h5>
            <p><?php echo $translate->__tr('news-new4-content1'); ?></p>
            <p><?php echo $translate->__tr('news-new4-content2'); ?></p>
            <p><?php echo $translate->__tr('news-new4-content3'); ?></p>
            <p class="author-news"><?php echo $translate->__tr('news-new4-content4'); ?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.businessoffashion.com/articles/fashion-tech/how-luxury-fashion-learned-to-love-the-blockchain"
              target="_blank">
              <button type="button" class="btn btn-outline-dark">
                <?php echo $translate->__tr('news-button-view-article'); ?>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news5.png" alt="" />
            <small class="text-left">SOURCE / ARTNEWS</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5><?php echo $translate->__tr('news-new5-title'); ?></h5>
            <p><?php echo $translate->__tr('news-new5-content1'); ?></p>
            <p><?php echo $translate->__tr('news-new5-content2'); ?></p>
            <p><?php echo $translate->__tr('news-new5-content3'); ?></p>
            <p><?php echo $translate->__tr('news-new5-content4'); ?></p>
            <p class="author-news"><?php echo $translate->__tr('news-new5-content5'); ?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.artnews.com/art-news/news/art-trends-that-move-art-world-forward-1202692078/"
              target="_blank">
              <button type="button" class="btn btn-outline-dark">
                <?php echo $translate->__tr('news-button-view-article'); ?>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news6.jpg" alt="" />
            <small class="text-left">COURTESY / CALDER FOUNDATION</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5><?php echo $translate->__tr('news-new6-title'); ?></h5>
            <p><?php echo $translate->__tr('news-new6-content1'); ?></p>
            <p><?php echo $translate->__tr('news-new6-content2'); ?></p>
            <p class="author-news"><?php echo $translate->__tr('news-new6-content3'); ?></p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.artnews.com/art-news/news/art-trends-that-move-art-world-forward-1202692078/"
              target="_blank">
              <button type="button" class="btn btn-outline-dark">
                <?php echo $translate->__tr('news-button-view-article'); ?>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
	<!-- en carrusel -->
    <div class="row justify-content-between peque-galeria-items pista-carrusel">
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/Recurso 1@2x.png" alt="" />
            <small class="text-left">COURTESY / INÉS BANCALARI CARE OF ESTEFANÍA BUSTAMANTE</small>
          </div>
          <div class="col-lg-12 min-galeria-content">
            <h5><?php echo $translate->__tr('inicio-news-news1-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news1-content');?></p>
          </div>
          <div class="col-lg-12">
            <a href="
        https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Finance/gx-fsi-art-and-finance-report-2019.pdf"
          target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>        
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news2.png" alt="" />
            <small class="text-left">SOURCE / ARTBASEL</small>
          </div>
          <div class="col-lg-12 min-galeria-content">
            <h5><?php echo $translate->__tr('inicio-news-news2-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news2-content');?></p>
          </div>
          <div class="col-lg-12">
            <a href="https://www.artbasel.com/news/blockchain-artworld-cryptocurrency-cryptokitties" target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news3.png" alt="" />
            <small class="text-left">SOURCE / COINTELEGRAPH</small>
          </div>
          <div class="col-lg-12 min-galeria-content">
            <h5><?php echo $translate->__tr('inicio-news-news3-title');?></h5>
			<p><?php echo $translate->__tr('inicio-news-news3-content');?></p>
          </div>
          <div class="col-lg-12">
            <a href="https://cointelegraph.com/news/world-economic-forum-looks-to-blockchain-to-restart-global-economy"
          target="_blank"><?php echo $translate->__tr('inicio-gallery-button');?></a>
          </div>
        </div>
      </div>
    </div>
    <!-- fin carrusel -->
  </div>
</div>
  </div>
</section>

