<?php
?>
<?php
?>
<!-- CONTACT-FORM -->
<section id="news" class="margin-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 bkg-novedades">
        <h1>Technology meets Art</h1>
      </div>
    </div>
  </div>
</section>

<section id="pequeña-galeria" class="pequeña-galeria">
  <div class="container-fluid">
    <div class="row justify-content-between peque-galeria-items sin-carrusel">

      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/Recurso 1@2x.png" alt="" />
            <small class="text-left">COURTESY / INÉS BANCALARI CARE OF ESTEFANÍA BUSTAMANTE</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5>Collectors are looking for more transparency</h5>
            <span>
              <h5>-</h5>
            </span>
            <p>
              In the midst of the crisis, new opportunities may
              arise and new business models will proliferate. As
              80% of luxury customers say they prefer brands that
              are socially responsible, the next generation of shoppers are more interested in authentic products
              rather than who the seller is.
            </p>
            <p>
              Blockchain technology provides a secure authenticity
              log for every product allowing any takedown of any
              unauthorised reseller and will help brands keep a
              closer watch on their wares.
            </p>
            <p>
              LVMH, for instance, announced its AURA blockchain project last year, while Richemont has launched
              blockchain pilots with some of its watch brands.
            </p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="
        https://www2.deloitte.com/content/dam/Deloitte/global/Documents/Finance/gx-fsi-art-and-finance-report-2019.pdf"
              target="_blank"><button type="button" class="btn btn-outline-dark">
                view article
              </button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news2.png" alt="" />
            <small class="text-left">SOURCE / ARTBASEL</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5>Is Blockchain the future of Art?</h5>
            <span>
              <h5>-</h5>
            </span>
            <p>
              Andrew Stramentov is creating a sustainable
              shipping product to offset the deep carbon footprint
              the industry leaves, which is “smart in terms of
              climate and tough in terms of protection”.
            </p>
            <p>The art world is now ready to consider the ecological
              ramifications of how it operates, particularly when it
              comes to the very things artists are using to make
              their work. - “There is a sense that materials should
              be let go.” Lucia Pietroiusti, curator of a long-running
              General Ecology research project at the Serpentine
              Galleries in London.</p>
            <p>Artists have always been powerful advocates, with
              that in mind, TBA21-Academy has commissioned
              artworks related to the warming of the world’s
              oceans, more institutions are following this example
              with the idea to make a better impact.</p>
            <p>
              Hauser & Wirth is canceling dinners planned around
              the Art Basel fair in Switzerland and pledging instead
              to donate funds it would have spent to Art for Acres,
              an initiative run by Global Wildlife Conservation to
              help preserve forests.
            </p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.artbasel.com/news/blockchain-artworld-cryptocurrency-cryptokitties"
              target="_blank"><button type="button" class="btn btn-outline-dark">
                view article
              </button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news3.png" alt="" />
            <small class="text-left">SOURCE / COINTELEGRAPH</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5>
              The World Economic Forum has launched a Blockchain deployment kit to
              help reboot the global economy
            </h5>
            <span>
              <h5>-</h5>
            </span>
            <p>
              Out of necessity galleries started to help each other,
              to connect, and this proved to be a very valuable way
              of collaboration, reaching to each other, sharing.
              Suddenly we realize we are all connected in this
              world, Galleries and artists can join each other to
              boost in every direction.
            </p>
            <p>With on-line sales doubling this year, Clare McAndrew, an economist behind the annual Art Basel and
              UBS Global Art Market Report told the New York
              Times, “This is the stimulus the art market needed to
              move online.”
            </p>
            <p>Art fairs, too, have migrated online. Marc Spiegler,
              director of Art Basel, said even when the world
              returns to its in-person ways, he foresees an
              accelerated shift toward digital promotion. </p>
            <p>Online content is important for the auction houses
              too. Both Christie’s and Sotheby’s have been moving
              away from printed catalogues, and more dynamic
              storytelling adds value, said Matthew Rubinger, head
              of marketing at Christie’s.</p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://cointelegraph.com/news/world-economic-forum-looks-to-blockchain-to-restart-global-economy"
              target="_blank"><button type="button" class="btn btn-outline-dark">
                view article
              </button></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news4.jpg" alt="" />
            <small class="text-left">SOURCE / BOF </small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5>What happens next very much depends on
              how much the current players are willing
              and able to innovate </h5>
            <span>
              <h5>-</h5>
            </span>
            <p>
              In the midst of the crisis, new opportunities may
              arise and new business models will proliferate. As
              80% of luxury customers say they prefer brands that
              are socially responsible, the next generation of shoppers are more interested in authentic products
              rather than who the seller is.
            </p>
            <p>
              Blockchain technology provides a secure authenticity
              log for every product allowing any takedown of any
              unauthorised reseller and will help brands keep a
              closer watch on their wares.
            </p>
            <p>
              LVMH, for instance, announced its AURA blockchain project last year, while Richemont has launched
              blockchain pilots with some of its watch brands.
            </p>
            <p class="author-news">Source: Business of Fashion – BOF</p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.businessoffashion.com/articles/fashion-tech/how-luxury-fashion-learned-to-love-the-blockchain"
              target="_blank">
              <button type="button" class="btn btn-outline-dark">
                view article
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news5.png" alt="" />
            <small class="text-left">SOURCE / ARTNEWS</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5>Is Blockchain the future of Art?</h5>
            <span>
              <h5>-</h5>
            </span>
            <p>“Blockchain’s impact on the artworld is already undeniable” – Anneli Botz</p>
            <p>Blockchain has been introduced to broaden the market’s transparency, it is sought - after for its
              authenticity and provenance verification tools and for its new
              groundbreaking approach to art collecting.</p>
            <p>According to Deloitte's Art & Finance report of 2019,
              one of the critical challenges when it comes to
              broadening the appeal of the art market is a lack of
              transparency, 75% of collectors said that a lack of
              transparency was the biggest threat to the reputation
              of the art market.</p>
            <p class="author-news">Written by Anneli Botz for Art Basel</p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.artnews.com/art-news/news/art-trends-that-move-art-world-forward-1202692078/"
              target="_blank">
              <button type="button" class="btn btn-outline-dark">
                view article
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 min-galeria">
        <div class="row">
          <div class="col-lg-12 my-4 galeria-portada">
            <img class="img-fluid" src="../../imgs/news6.jpg" alt="" />
            <small class="text-left">COURTESY / CALDER FOUNDATION</small>
          </div>
          <div class="col-lg-12 min-galeria-content ">
            <h5>The World Economic Forum has launched
              a Blockchain deployment kit to help reboot
              the global economy</h5>
            <span>
              <h5>-</h5>
            </span>
            <p>“Consumers are demanding a totally new level of
              transparency,” adding that “consumers reward the
              supply chain when the transparency and sustainability are there.” - Rupert Colchester (Head of Blockchain
              and Consulting Practice Leader - IBM)</p>
            <p>“Blockchain could fundamentally change the way in
              which materials and natural resources are valued and
              traded, incentivizing individuals, companies, and
              governments to unlock financial value from things
              that are currently wasted, discarded or treated as
              economically invaluable” - WEF @worldeconomicforum</p>
            <p class="author-news">Written by Samuel Haig for @cointelegraph</p>
          </div>
          <div class="col-lg-12 links-news">
            <a href="https://www.artnews.com/art-news/news/art-trends-that-move-art-world-forward-1202692078/"
              target="_blank">
              <button type="button" class="btn btn-outline-dark">
                view article
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>