<section id="news" class="margin-top">
  <div class="container-fluid">
    <div class="row">      
      <div class="col-lg-12 bkg-novedades">
        <h1><?php echo $translate->__tr('purpose-title');?></h1>
      </div>
    </div>
  </div>
</section>

<section id="aboutus" class="aboutus pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 purpose-img">
        <img src="../../imgs/Recurso 9@2x.png" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-6 purpose-text">
        <p><?php echo $translate->__tr('purpose-content1');?></p>
        <p><?php echo $translate->__tr('purpose-content2');?></p>
        <p><?php echo $translate->__tr('purpose-content3');?></p>
      </div>
    </div>
  </div>
</section>
