<?php
?>

<section id="equilibrado" class="margin-top">
    <div class="container-fluid">
        <div class="col-lg-12 bkg-equilibrado">
        <div class="row">
                <h1>Equilibrando la identidad</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../imgs/no-image.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <p>Creemos en el valor de la identidad y la autenticidad. 
                    Surgimos para generar un vinculo que inmortalice la relación entre una obra de arte y la transcendencia del mundo digital para que así, nunca pierdan su esencia. De esta forma empoderamos a los artistas permitiendole a los galeristas y coleccionistas conocer su huella, su historia 
                </p>
                <p>Creamos un vínculo equilibrado y holístico en todos los puntos de contacto de una obra, generando confianza. La tecnología blockchain nos permite certificar una pieza de arte preservando su identidad de una forma transparente en todo su recorrido. Cada una crea un valor sustentable que, mediante las certificaciones, podemos conocer y seguir sus pasos en el mundo artístico.</p>
            </div>
        </div>
    </div>
</section>
