<section id="what-is-blockchain" class="what-is-blockchain margin-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <h1>What is Blockchain</h1>
      </div>
      <div class="col-lg-12">
        <p>
          Blockchain technology is similar to a shared database, it’s really
          just a sophisticated ledger system. Ledgers have been used since
          ancient times, long before computerization, where different mechanisms
          were used to record different transactions involving trade, property
          or other assets. While the concept of a ledger remained the same, the
          records have transitioned from papyrus to electronic records in a
          digital ledger.
        </p>
        <p>
          The simplest example is carbon paper: this paper allows you to make
          copies of the same document or information instantly, ensuring that,
          for example, everyone involved has the same copy of a contract. Carbon
          paper has been an invention that gave confidence to the parties
          involved, since it is not the same to have the same copy instantly, at
          the time of writing, than to copy the same document twice by hand.
          Those involved are certain that the information contained in that
          record (ledger) is exactly the same, giving integrity to the data and
          trust to the parties. The Blockchain is like carbon paper, a trusted
          technology. It is basically a distributed database where a record of
          each transaction or exchange ever made, is kept.
        </p>
        <p>
          A key component of Blockchain is its P2P or distributed network
          arrangement, which eliminates the need for a trusted third party or
          intermediary service to perform certain functions.
        </p>
        <p>
          The innovative thing about blockchain is that the registry is
          distributed in each of the members that are part of the process and
          because it is not a centralized base, it is impossible to modify it
          since once a data has been recorded and linked to a previous block,
          the block is validated by the entire network in real time, giving
          confidence and certainty to all the nodes that make up the network (a
          key function of this technology). It is also thanks to this chain that
          events can be ordered in time, in order to provide traceability and
          transparency to any type of process.
        </p>
      </div>
      <div class="col-lg-12 my-5 graficos-img">
        <div class="row">
          <div class="col-lg-4">
            <p>CENTRALIZED</p>
            <img src="../../imgs/GRAFICOS-13.png" alt="" class="img-fluid" />
          </div>
          <div class="col-lg-4">
            <p>DECENTRALIZED</p>
            <img src="../../imgs/GRAFICOS-14.png" alt="" class="img-fluid" />
          </div>
          <div class="col-lg-4">
            <p>DISTRIBUTED</p>
            <img src="../../imgs/GRAFICOS-15.png" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <p>
          Centralized networks depend on a single controlling authority
          responsible for all operations on the system. A distributed database
          allows for all participants of the network to have a synchronized
          identical copy of the ledger; thus, when a change is made to the
          ledger, it is propagated and reflected in all copies held by the
          network participants, creating an immutable record of transactions.
          This makes unauthorized alterations significantly more difficult than
          they may be with traditional ledgers, which can be modified by a
          single trusted authority.
        </p>
        <p>
          Each transaction, which can be any form of value, like money,
          documents or certificates, is added to a new block which is
          time-stamped and cryptographically ‘chained’ to the previous block
          that was added to the blockchain, which was chained to the block
          before it, and so on, all the way to the first block. Hence the name
          ‘Blockchain’
        </p>
        <div class="text-center linecube">
          <img src="../../imgs/GRAFICOS_01.png" alt="cubo" />
        </div>
        <p>
          For a transaction to be added to the ledger it has to have the
          consensus of an entire network, which consists of a chain of computers
          connected, thereby creating a continuous mechanism of control
          regarding manipulation, errors, and data quality. Once new data is
          entered it can never be erased. As blocks are only added to the
          blockchain with the consensus of independent nodes, there is no single
          point of failure through which the Blockchain’s data can be corrupted.
        </p>
      </div>
      <div class="col-lg-12 lista-desordenada">
        <ul>
          <li><h5>Strengths of Blockchain:</h5></li>
          <ul>
            <li>
              <strong>Security / </strong>Being a distributed database it is
              almost impossible to alter or hack the information contained in
              the chain.
            </li>
            <li>
              <strong>Integrity / </strong> Guarantees that the data has not
              been modified since its creation without the consent of those who
              participate in the process.
            </li>
            <li>
              <strong>Chronologically updated / </strong> The blockchain is
              permanently timestamped, each block points to and refers to the
              data stored in the previous block in the chain, so all blocks are
              linked to each other.
            </li>
          </ul>
        </ul>
      </div>

      <!-- inicio item -->
      <div class="col-lg-12 blockchain-item-presentation my-5">
        <div class="row text-center">
          <div class="col-lg-4 mb-4">
            <h5>1</h5>
            <p>A TRANSACTION IS REQUESTED.</p>
            <img src="../../imgs/telefono01.png" alt="" />
          </div>
          <div class="col-lg-4 mb-4">
            <h5>2</h5>
            <p>THE TRANSACTION IS REPRESENTED ONLINE AS A “BLOCK”</p>
            <img src="../../imgs/cubo1.png" alt="" />
          </div>
          <div class="col-lg-4 mb-4">
            <h5>3</h5>
            <p>THE BLOCK IS BROADCAST TO EVERY PARTY IN THE NETWORK</p>
            <img src="../../imgs/GRAFICOS-09.png" alt="" />
          </div>
          <div class="col-lg-4 mb-4">
            <h5>4</h5>
            <p>THOSE IN THE NETWORK VALIDATE THE TRANSACTION</p>
            <img src="../../imgs/GRAFICOS-10.png" alt="" />
          </div>
          <div class="col-lg-4 mb-4">
            <h5>5</h5>
            <p>
              THE BLOCK CAN THEN BE ADDED TO THE CHAIN, WHICH PROVIDES AN
              INDELIBLE AND TRANSPARENT RECORD OF TRANSACTIONS
            </p>
            <img src="../../imgs/cubo2.png" alt="" />
          </div>
          <div class="col-lg-4 mb-4">
            <h5>6</h5>
            <p>THE TRANSACTION IS COMPLETED</p>
            <img src="../../imgs/telefono2.png" alt="" />
          </div>
        </div>
      </div>
      <!-- fin de los items -->
      <div class="col-lg-12 media-flecha-list">
        <h5>The Power of the Hash</h5>
        <p>
          Every block is linked together with a previous block using a
          cryptographic hash function. This is essentially the “fingerprint” of
          the data. A hash is an alphanumeric string that uniquely identifies
          the data in question, much like your fingerprint identifies you. You
          can hash any data, whether it’s a file, data or a certificate of
          authenticity.
        </p>
        <img src="../../imgs/Screenshot_76.png" alt="">
        <!-- <div class="media my-4">
          <span class=""><h5>Input Data (Artist Name)</h5></span>
          <span class="text-center mx-5"><h5>&#8594;</h5></span>
          <div class="media-body">
            <p class="my-0">FDJASDRLT5UH7IBFRLUFZBK44FNKRJZSH476JF89</p>
          </div>
        </div>
        <div class="media my-4">
          <img class="align-self-center mx-5" src="../../imgs/Recurso 12@4x.png" alt="page" />
          <span class="mx-5 text-center"><h5>&#8594;</h5></span>
          <div class="media-body">
            <p class="my-0">FDJASDRLT5UH7IBFRLUFZBK44FNKRJZSH476JF89</p>
          </div>
        </div>
        <div class="media my-4">
          <img class="align-self-center mx-5" src="../../imgs/Recurso 13@4x.png" alt="page" />
          <span class="mx-5 text-center"><h5>&#8594;</h5></span>
          <div class="media-body">
            <p class="my-0">FDJASDRLT5UH7IBFRLUFZBK44FNKRJZSH476JF89</p>
          </div>
        </div>
        <p>Certificate has been tampered - Invalid</p> -->
      </div>
      <div class="col-lg-12 my-5">
        <h5 class="my-4">What is the Hash Used for?</h5>
        <p>
          This is necessary for verification purposes to compare different data
          inputs. Imagine having a 300 document, I hash it and get an
          alphanumeric string, if I want to recheck it because I suspect it has
          been altered with, the easiest and fastest way without having to proof
          read the entire document would be to hash it again, if I get the same
          hash, then the document has not been altered.
        </p>
        <p>
          The process of creating hashes is one way only. These functions serve
          to ensure the authenticity of data since the hashes are irreversible.
        </p>
      </div>
    </div>
  </div>
</section>
