<?php
?>

<section id="what-we-do" class="what-we-do margin-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <h1>What we do</h1>
      </div>
      <div class="col-lg-12">
        <p>
          El Grey ID elevates Blockchain to register pieces of art. This
          technology allows for a secure way of storing information about the
          origin, name, techniques and materials of an art work. In this way,
          the physical object is linked to the digital world in a safe way,
          reducing the risk of counterfeiting.
        </p>
        <p>
          We use these immutable and cryptographic resources to generate a
          certificate that is easy to use, read and validate. Its tamper-proof
          qualities assure trust, transparency and anonymity among interested
          parties.
        </p>
      </div>
      <div class="col-lg-12 my-3">
        <h5>What is Blockchain?</h5>
        <p>
          Blockchain is an electronic ledger that records a secure and immutable
          transaction of value, such as documents, certificates or money.
        </p>
        <p>
          The innovative thing about blockchain is that the transactions are
          distributed in a network and its modification is impossible once it
          has been incorporated.
        </p>
      </div>
      <div class="col-lg-12 my-3">
        <div class="row">
          <div class="col-lg-12">
            <h5>Benefits of an authenticity certificate in Blockchain</h5>
          </div>
          <div class="col-lg-6 list-style-benefits">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"><i class="far fa-file"></i></th>
                    <th scope="col"><i class="far fa-file"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Digitally Signed by Issuer</th>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                  </tr>
                  <tr>
                    <th scope="row">Proof of Existence</th>
                    <td>&#10004;</td>
                  </tr>
                  <tr>
                    <th scope="row">Readable by machines</th>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                  </tr>
                  <tr>
                    <th scope="row">Recipient Property and control</th>
                    <td>&#10004;</td>
                  </tr>
                  <tr>
                    <th scope="row">Open Standard code</th>
                    <td>&#10004;</td>
                  </tr>
                  <tr>
                    <th scope="row">Revocable</th>
                    <td>&#10004;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
