<section id="what-we-do" class="what-we-do margin-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 my-5 tittle-blockchain">
        <h1><?php echo $translate->__tr('whatwedo-title');?></h1>
      </div>
      <div class="col-lg-10 offset-lg-1 WWD-content">
        <p><?php echo $translate->__tr('whatwedo-content1');?></p>
        <p><?php echo $translate->__tr('whatwedo-content2');?></p>
      </div>
      <div class="col-lg-10 offset-lg-1 my-5 WWD-content">
        <h5 class="mb-5"><?php echo $translate->__tr('whatwedo-blockchain');?></h5>
        <p><?php echo $translate->__tr('whatwedo-blockchain-content1');?></p>
        <p><?php echo $translate->__tr('whatwedo-blockchain-content2');?></p>
      </div>
      <div class="col-lg-10 offset-lg-1 my-3 WWD-content">
        <div class="row">
          <div class="col-lg-12 mb-5">
            <h5><?php echo $translate->__tr('whatwedo-blockchain-beneficts');?></h5>
          </div>
          <div class="col-lg-9">
            <img class="img-fluid" src="../../imgs/benefits.png" alt="Benefits of an authenticity certificate in Blockchain">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
