<!-- Footer -->
<div id="footer" class="footer my-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-lg-12 justify-content-center text-center my-3 social-list">
                <ul  class="d-flex">
                    <li class="text-center my-1 mx-2">
                        <a href="https://www.instagram.com/elgreyid" target="_blank" class="img-fluid">
                            <img src="../../imgs/inst.png" alt="Instagram El Grey ID">
                        </a>                        
                    </li>
                    <li class="text-center my-1 mx-2">
                        <a href="#" class="img-fluid">
                            <img src="../../imgs/linkedin2@2x.png" alt="Linkedin El Grey ID">
                        </a>                        
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>