<!--
===================================
HEADER
===================================
-->
<header class="fixed-top" id="NavMenu">
  <div class="container-fluid">
    <!-- BRAND -->
    <nav id="mainNav" class="navbar navbar-expand-md">
      <a href="#" class="navbar-brand"><img class="img-fluid" width="145" src="../../imgs/el-grey-id.png"
          alt="El Grey ID"></a>
      <!-- FIN DEL BRAND -->
      <!-- boton dol movil -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menuMobil" id="hamburguesa">
        
      </button>
      <!-- menu desktop -->
      <div class="collapse navbar-collapse" id="menuMobil">
        <ul class="navbar-nav ml-auto" id="mitab">
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="<?php echo BASE_URL; ?>art">Art</a>
          </li>
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="purpose">Purpose</a>
          </li>
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="what-we-do">What we do</a>
          </li>
          <li class="nav-item dropdown mr-lg-3">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Blockchain</a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="what-is-blockchain">What is Blockchain</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="how-is-certificate">How is a certificate created</a>
            </div>
          </li>

          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="<?php echo BASE_URL; ?>news">News</a>
          </li>
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item mr-0 d-flex idiomas">
            <a class="nav-link" href="#transformacion-digital">Spa </a>
            <span class="nav-link" style="font-family: var(--font-cormorant); padding-right: 0 !important;
            padding-left: 0 !important;">/</span>
            <a class="nav-link" href=""> Eng</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script type="text/javascript">
  const currentLocation = location.href;
  const menuItem = document.querySelectorAll('a');
  const menuLength = menuItem.length
  for (let i = 0; i < menuLength; i++) {
    if (menuItem[i].href === currentLocation) {
      menuItem[i].className = "active nav-link"
    }
  };

  $(function(){
    $("#hamburguesa").on("click", function(){
        $("#hamburguesa").toggleClass("cambio")
    });
});
</script>


