<!--
===================================
HEADER
===================================
-->
<header class="fixed-top" id="NavMenu">
  <div class="container-fluid">
    <!-- BRAND -->
    <nav id="mainNav" class="navbar navbar-expand-md">
      <a href="" class="navbar-brand"><img src="../../imgs/logo el grey ID@2x.png" alt=""></a>
    <!-- FIN DEL BRAND -->
      <!-- boton dol movil -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menuMobil">
        <i class="fas fa-bars fa-2x"></i>
      </button>
      <!-- menu desktop -->
      <div class="collapse navbar-collapse" id="menuMobil">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="<?php echo BASE_URL; ?>art">Art</a>
          </li>
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="purpose">Purpose</a>
          </li>
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="what-we-do">What we do</a>
          </li>
          <li class="nav-item dropdown mr-lg-3">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blockchain</a>
            
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <a class="dropdown-item" href="what-is-blockchain">What is BlockChain</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="how-is-certificate">How is a certificate created</a>
            </div>
          </li>

          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="<?php echo BASE_URL; ?>news">News</a>
          </li>
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item mr-0 d-flex idiomas">
            <a class="nav-link" href="#transformacion-digital">Esp </a>
            <span class="nav-link" style="padding-right: 0 !important;
            padding-left: 0 !important;">/</span>
            <a class="nav-link" href=""> Eng</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
