/**********
FONTS
**********/
@font-face {
  font-family: MyriadPro;
  src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
  font-family: MyriadPro;
  font-weight: bold;
  src: url('../fonts/MyriadPro-Bold.otf');
}

@font-face {
  font-family: MyriadPro;
  font-stretch: condensed;
  font-weight: bold;
  src: url('../fonts/MyriadPro-BoldCond.otf');
}

@font-face {
  font-family: MyriadPro;
  font-weight: bold;
  font-stretch: condensed;
  font-style: italic;
  src: url('../fonts/MyriadPro-BoldCondIt.otf');
}

@font-face {
  font-family: MyriadPro;
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/MyriadPro-BoldIt.otf');
}

@font-face {
  font-family: MyriadPro;
  font-stretch: condensed;
  src: url('../fonts/MyriadPro-Cond.otf');
}

@font-face {
  font-family: MyriadPro;
  font-style: italic;
  font-stretch: condensed;
  src: url('../fonts/MyriadPro-CondIt.otf');
}

@font-face {
  font-family: MyriadPro;
  font-style: italic;
  src: url('../fonts/MyriadPro-It.otf');
}

@font-face {
  font-family: MyriadPro;
  font-weight: bold;
  font-stretch: semi-condensed;
  src: url('../fonts/MyriadPro-SemiBold.otf');
}

@font-face {
  font-family: MyriadPro;
  font-stretch: semi-condensed;
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/MyriadPro-SemiBoldIt.otf');
}

@font-face {
  font-family: Avenir;
  src: url('../fonts/Avenir.ttc');
}